<div class="col-sm-3 col-md-2 category-sidebar page-sidebar" id="category-left" style="top: 0px;">

<div class="filters-left">

    <p class="filters-title">Refine By</p>

            <span class="clear-all">clear all</span>
    
</div>

  <div class="block block-layered-nav">
    <div class="block-content">


      <div class="product-options-container-wide">
        <dl id="narrow-by-list" style="height: 590px;">


            <div id="filter-wrapper">

              
            <div class="filter filter-container label" facetid="style" data-facetfhid="1c6f5e95-c102-44ab-9b55-22eec9b41d6d">

            <div class="">

                <h6 class="toggle-category-header">
                    <i class="fa fa-caret-down" data-icon="caret"></i>
                                        Product Type                                  </h6>

                                    <span class="clr-btn">clear</span>
                

            </div>


          <div class="filter-wraper-sub">



              
                  <div class=" filter-scrollbar">

                      <div class="scrollbar disable" style="height: 0px;"><div class="track" style="height: 0px;"><div class="thumb" style="top: 0px; height: 20px;"><div class="end"></div></div></div></div>

                      <div class="viewport">

                          <div class="overview" style="top: 0px;">
                              
<ol class="filter-options-wrapper" filterid="style">

    
        
        <li class="filter-option selected" filteroptionid="toys">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Toya</span>
                        <span class="filter-option-count">(8)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="ankle_boots">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Ankle Boots</span>
                        <span class="filter-option-count">(11)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="anklet">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Anklet</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="ballet_loafer_pumps">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Ballet Loafer Pumps</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="bandana_head_scarf">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Bandana Head Scarf</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="bandeau">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Bandeau</span>
                        <span class="filter-option-count">(21)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="beach_dress">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Beach Dress</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="belt_bag">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Belt Bag</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="biker_hiker_ankle_boots">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Biker Hiker Ankle Boots</span>
                        <span class="filter-option-count">(5)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="biker_jacket">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Biker Jacket</span>
                        <span class="filter-option-count">(4)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="blazer">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Blazer</span>
                        <span class="filter-option-count">(86)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="blouse">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Blouse</span>
                        <span class="filter-option-count">(43)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="body">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Body</span>
                        <span class="filter-option-count">(3)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="bodycon">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Bodycon</span>
                        <span class="filter-option-count">(960)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="bodysuit">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Bodysuit</span>
                        <span class="filter-option-count">(211)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="boyfriend_jeans">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Boyfriend Jeans</span>
                        <span class="filter-option-count">(4)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="bracelet">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Bracelet</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="b_r_a_l_e_t">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">BRALET</span>
                        <span class="filter-option-count">(54)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="cami">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Cami</span>
                        <span class="filter-option-count">(33)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="cardigan">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Cardigan</span>
                        <span class="filter-option-count">(4)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="casual_jacket">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Casual Jacket</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="chain_belt">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Chain Belt</span>
                        <span class="filter-option-count">(3)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="choker">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Choker</span>
                        <span class="filter-option-count">(8)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="clutch">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Clutch</span>
                        <span class="filter-option-count">(7)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="coord">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Co-ord</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="corset">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Corset</span>
                        <span class="filter-option-count">(170)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="corset_belt">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Corset Belt</span>
                        <span class="filter-option-count">(16)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="courts">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Courts</span>
                        <span class="filter-option-count">(11)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="crop_jumper">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Crop Jumper</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="cropped">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Cropped</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="crop_top">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Crop Top</span>
                        <span class="filter-option-count">(330)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="cross_body_bag">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Cross Body Bag</span>
                        <span class="filter-option-count">(4)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="cycle">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Cycle</span>
                        <span class="filter-option-count">(3)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="cycle_short">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Cycle Short</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="denim_day_dress">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Denim Day Dress</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="denim_evening_dress">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Denim Evening Dress</span>
                        <span class="filter-option-count">(3)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="denim_jumpsuits">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Denim Jumpsuits</span>
                        <span class="filter-option-count">(5)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="denim_midi_skirt">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Denim Midi Skirt</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="denim_mini_skirt">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Denim Mini Skirt</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="denim_playsuits">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Denim Playsuits</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="denim_shirt">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Denim Shirt</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="denim_shorts">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Denim Shorts</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="denim_top">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Denim Top</span>
                        <span class="filter-option-count">(6)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="diamante_belt">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Diamante Belt</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="disco_jeans">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Disco Jeans</span>
                        <span class="filter-option-count">(3)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="dress">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Dress</span>
                        <span class="filter-option-count">(21)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="ear_cuff">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Ear Cuff</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="espadrilles">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Espadrilles</span>
                        <span class="filter-option-count">(6)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="faux_fur">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Faux Fur</span>
                        <span class="filter-option-count">(11)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="flared">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Flared</span>
                        <span class="filter-option-count">(22)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="flared_jeans">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Flared Jeans</span>
                        <span class="filter-option-count">(7)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="flip_flops">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Flip Flops</span>
                        <span class="filter-option-count">(3)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="hair_slide">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Hair Slide</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="handbag">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Handbag</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="headband">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Headband</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="heeled_ankle_boots">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Heeled Ankle Boots</span>
                        <span class="filter-option-count">(16)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="heeled_mules">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Heeled Mules</span>
                        <span class="filter-option-count">(34)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="heeled_sandals">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Heeled Sandals</span>
                        <span class="filter-option-count">(58)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="hoop_earrings">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Hoop Earrings</span>
                        <span class="filter-option-count">(53)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="hot_pant">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Hot Pant</span>
                        <span class="filter-option-count">(4)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="jacket">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Jacket</span>
                        <span class="filter-option-count">(27)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="jean_belt">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Jean Belt</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="joggers">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Joggers</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="jumper">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Jumper</span>
                        <span class="filter-option-count">(3)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="jumper_dress">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Jumper Dress</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="jumpsuit">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Jumpsuit</span>
                        <span class="filter-option-count">(191)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="knee_boots">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Knee Boots</span>
                        <span class="filter-option-count">(3)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="leggings">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Leggings</span>
                        <span class="filter-option-count">(42)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="long_top">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Long Top</span>
                        <span class="filter-option-count">(75)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="mascara">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Mascara</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="maxi">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Maxi</span>
                        <span class="filter-option-count">(62)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="midaxi">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Midaxi</span>
                        <span class="filter-option-count">(101)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="midi">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Midi</span>
                        <span class="filter-option-count">(251)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="mini">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Mini</span>
                        <span class="filter-option-count">(91)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="mini_bag">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Mini Bag</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="mom_jeans">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Mom Jeans</span>
                        <span class="filter-option-count">(7)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="mules">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Mules</span>
                        <span class="filter-option-count">(3)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="multi_pack_earrings">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Multi-Pack Earrings</span>
                        <span class="filter-option-count">(5)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="necklace">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Necklace</span>
                        <span class="filter-option-count">(26)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="over_the_knee_boots">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Over The Knee Boots</span>
                        <span class="filter-option-count">(13)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="platform_heeled_sandals">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Platform Heeled Sandals</span>
                        <span class="filter-option-count">(13)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="playsuit">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Playsuit</span>
                        <span class="filter-option-count">(47)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="ring">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Ring</span>
                        <span class="filter-option-count">(8)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="sandals">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Sandals</span>
                        <span class="filter-option-count">(13)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="set">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Set</span>
                        <span class="filter-option-count">(6)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="shift">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Shift</span>
                        <span class="filter-option-count">(36)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="shirt">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Shirt</span>
                        <span class="filter-option-count">(203)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="shorts">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Shorts</span>
                        <span class="filter-option-count">(42)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="shoulder_bag">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Shoulder Bag</span>
                        <span class="filter-option-count">(13)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="skater">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Skater</span>
                        <span class="filter-option-count">(9)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="skinny">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Skinny</span>
                        <span class="filter-option-count">(54)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="skinny_jeans">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Skinny Jeans</span>
                        <span class="filter-option-count">(20)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="skirt">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Skirt</span>
                        <span class="filter-option-count">(241)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="sliders">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Sliders</span>
                        <span class="filter-option-count">(9)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="smock">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Smock</span>
                        <span class="filter-option-count">(4)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="sock_boots">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Sock Boots</span>
                        <span class="filter-option-count">(9)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="sphere_bag">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Sphere Bag</span>
                        <span class="filter-option-count">(4)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="split_hem_jeans">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Split Hem Jeans</span>
                        <span class="filter-option-count">(14)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="square_frame">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Square Frame</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="statement_earrings">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Statement Earrings</span>
                        <span class="filter-option-count">(9)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="straight">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Straight</span>
                        <span class="filter-option-count">(66)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="straight_leg_jeans">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Straight Leg Jeans</span>
                        <span class="filter-option-count">(19)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="stud_earrings">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Stud Earrings</span>
                        <span class="filter-option-count">(9)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="swing">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Swing</span>
                        <span class="filter-option-count">(3)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="tailored">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Tailored</span>
                        <span class="filter-option-count">(13)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="tie_waist">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Tie Waist</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="tights">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Tights</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="top">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Top</span>
                        <span class="filter-option-count">(358)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="top_skirt">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">TopSkirt</span>
                        <span class="filter-option-count">(10)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="top_trouser">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">TopTrouser</span>
                        <span class="filter-option-count">(9)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="trainers">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Trainers</span>
                        <span class="filter-option-count">(11)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="trench">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Trench</span>
                        <span class="filter-option-count">(2)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="trousers">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Trousers</span>
                        <span class="filter-option-count">(109)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="unitard">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Unitard</span>
                        <span class="filter-option-count">(8)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="vest">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Vest</span>
                        <span class="filter-option-count">(11)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="waist_belt">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Waist Belt</span>
                        <span class="filter-option-count">(7)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="wedges">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Wedges</span>
                        <span class="filter-option-count">(1)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="wide_fit_boots">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Wide Fit Boots</span>
                        <span class="filter-option-count">(8)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="wide_fit_flats">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Wide Fit Flats</span>
                        <span class="filter-option-count">(13)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="wide_fit_heels">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Wide Fit Heels</span>
                        <span class="filter-option-count">(26)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="wide_leg">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Wide Leg</span>
                        <span class="filter-option-count">(45)</span>
                    </li>

    
        
        <li class="filter-option " filteroptionid="wide_leg_jeans">
            <span class="input-box"><i class="fa fa-check"></i></span>
            <span class="filter-option-label">Wide Leg Jeans</span>
                        <span class="filter-option-count">(3)</span>
                    </li>

    

</ol>
                          </div>

                      </div>

                  </div>

                        </div>


        </div>

        
            <div class="filter filter-container two-column" facetid="colour_group" data-facetfhid="403d7454-38fb-482d-9523-d071c44ffb85">

            <div class="">

                <h6 class="toggle-category-header">
                    <i class="fa fa-caret-down" data-icon="caret"></i>
                                        Colour                                  </h6>

                                    <span class="clr-btn hidden">clear</span>
                

            </div>


          <div class="filter-wraper-sub">



              
                  <div>
                      
<ol class="filter-options-wrapper" filterid="colour_group">

    
    
    
    
    <div class="col">

        
            
            
            <li class="filter-option " filteroptionid="beige">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">Beige</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="black">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">Black</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="brown">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">Brown</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="cream">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">Cream</span>
                            </li>

                            </div><div class="col">
            
        
            
            
            <li class="filter-option " filteroptionid="green">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">Green</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="pink">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">Pink</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="white">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">White</span>
                            </li>

            
        

    </div>

</ol>
                  </div>

                        </div>


        </div>

        
            <div class="filter filter-container two-column" facetid="clothes_size_mapped" data-facetfhid="e444b203-183a-49fa-b3d1-c86259d8abe2">

            <div class="">

                <h6 class="toggle-category-header">
                    <i class="fa fa-caret-down" data-icon="caret"></i>
                                        Clothes Size                                  </h6>

                                    <span class="clr-btn hidden">clear</span>
                

            </div>


          <div class="filter-wraper-sub">



              
                  <div>
                      
<ol class="filter-options-wrapper" filterid="clothes_size_mapped">

    
    
    
    
    <div class="col">

        
            
            
            <li class="filter-option " filteroptionid="6">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">6</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="8">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">8</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="10">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">10</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="12">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">12</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="14">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">14</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="16">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">16</span>
                            </li>

                            </div><div class="col">
            
        
            
            
            <li class="filter-option " filteroptionid="18">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">18</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="22">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">22</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="26">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">26</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="28">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">28</span>
                            </li>

            
        
            
            
            <li class="filter-option " filteroptionid="30">
                <span class="input-box"><i class="fa fa-check"></i></span>
                <span class="filter-option-label">30</span>
                            </li>

            
        

    </div>

</ol>
                  </div>

                        </div>


        </div>

        
            <div class="filter filter-container slider" facetid="price" data-facetfhid="99f4b390-a2cf-4f60-9db7-d1e55dfbb1e1">

            <div class="">

                <h6 class="toggle-category-header">
                    <i class="fa fa-caret-down" data-icon="caret"></i>
                                        Price                                  </h6>

                                    <span class="clr-btn hidden">clear</span>
                

            </div>


          <div class="filter-wraper-sub">



              
                  <div>
                      <div class="price-facet">

    <div class="price-slider"></div>

    <div class="labels">
                <div class="label priceFrom">£<span class="value"></span></div>
        <div class="label priceTo">£<span class="value"></span></div>
            </div>

</div>


<script>

    var priceSlider;

    jQuery( function() {

        priceSlider = PriceSlider({
            minValue:4,
            maxValue:17,
            valueFrom:4,
            valueTo:17,
            exchangeRate:1,
            minId:"99f4b390-a2cf-4f60-9db7-d1e55dfbb1e1",
            maxId:"6bc5796a-4a91-4f25-9856-5c90976ed09a",
        });

        priceSlider.drawPriceLabels();

    });

</script>


<script>

    var PriceSlider = function(data) {

        var me = {};

        var minValue = data.minValue;
        var maxValue = data.maxValue;
        var valueFrom = data.valueFrom;
        var valueTo = data.valueTo;
        var exchangeRate = data.exchangeRate;
        var startingValueFrom = data.valueFrom;
        var startingValueTo = data.valueTo;


        if (exchangeRate!==1) {
            exchangeRate=exchangeRate;
        }

        var rounding = 5;
        if (valueFrom==minValue) {
            minValue = minValue > 1 ? Math.floor((minValue/rounding)*rounding) : minValue;
            valueFrom = minValue;
        } else {
            minValue = minValue > 1 ? Math.floor((minValue/rounding)*rounding) : minValue;
        }

        if (valueTo==maxValue) {
            maxValue = Math.floor((maxValue/rounding)*rounding);
            valueTo = maxValue;
        } else {
            maxValue = Math.ceil((maxValue/rounding)*rounding);
        }

        jQuery( ".price-facet .price-slider" ).slider({
            range: true,
            min: minValue,
            max: maxValue,
            values: [ valueFrom, valueTo ],
            isRTL: false,
            slide: function( event, ui ) {
                this.onSlide(ui.values[0],ui.values[1], startingValueFrom, startingValueTo);
            }.bind(me)
        });

        var t1;

        me.onSlide = function(v1, v2, from, to) {

            this.updatePrices(v1,v2);
            this.drawPriceLabels();
            if (this.timer) {
                clearTimeout(this.timer);
            }
            var that = this;
            this.timer = setTimeout(function() { that.track(v1, v2, from, to); }, 300);
            plt.categoryView.onFacetChange();
        };

        me.track = function(v1, v2, from, to) {
            if (v1 !== from) {
                this.pushEvent('priceSlide', v1, this.getMinId());
            }
            if (v2 !== to) {
                this.pushEvent('priceSlide', v2, this.getMaxId());
            }
        }

        me.pushEvent = function (event, value, id) {
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({
                'event': event,
                'facetId': id,
                'facetValue': '' + value
            });
        }

        me.clearSelection = function() {

            valueFrom = minValue;
            valueTo = maxValue;

            jQuery(".price-facet .price-slider").slider('values',[valueFrom,valueTo]);

            this.drawPriceLabels();

        }.bind(me);

        me.hasSelection = function() {

            if ((valueFrom!=minValue) || (valueTo!=maxValue)) {
                return true;
            }

            return false;

        }.bind(me);

        me.updatePrices = function(p1,p2) {
            valueFrom = p1;
            valueTo = p2;
        }.bind(me);

        me.drawPriceLabels = function() {
            jQuery('.label.priceFrom .value').html(me.convertValueForDisplay(valueFrom,false));
            jQuery('.label.priceTo .value').html(me.convertValueForDisplay(valueTo,true));

        }.bind(me);

        me.convertValueForDisplay = function(v,r) {

            var displayValue = v * exchangeRate;

            if (r) {
                displayValue = Math.ceil(displayValue);
            } else {
                displayValue = displayValue > 1 ? Math.floor(displayValue) : (Math.floor(displayValue * 10) * 10 / 100).toFixed(2);
            }

            return displayValue;

        };

        me.getValueFrom = function() {
            return valueFrom;
        }.bind(me);

        me.getValueTo = function() {
            return valueTo;
        }.bind(me);

        me.getMinValue = function() {
            return minValue;
        }.bind(me);

        me.getMaxValue = function() {
            return maxValue;
        }.bind(me);

        me.getMinId = function() {
            return data.minId;
        }.bind(me);

        me.getMaxId = function() {
            return data.maxId;
        }.bind(me);


        return me;
    }

</script>
                  </div>

                        </div>


        </div>

        
      </div></dl>

    </div>

  </div>
</div>


</div>