<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<div class="line"></div>
<div class="wrapper">
  <header role="banner">
  <h1 id="header"><a>Princess's Petting Parlour</a></h1>
    <nav role="navigation">

      
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/products/new">New Product</a></li>
        <li><a href="/manufacturers">Manufacturers</a></li>
        <li><a href="/manufacturers/new">New Manufacturer</a></li>
      </ul>
    </nav>
  </header>



  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>

 
</div>
<footer>
  <nav role="navigation">
    <ul class="nav-ul">
      <li><a href="#">HR</a></li>
      <li><a href="#">Contact Information</a></li>
      <li><a href="#">Warehouse</a></li>
      <li><a href="#">Shipping</a></li>
    </ul>
  </nav>
  <p class="copy">&copy; Princess Stevenson, CodeClan Cohort E50 2021</p>
</footer>
<div class="line"></div>
