{% extends "base.html" %}
{% block content %}
"Manufacturers Page"



{% for product in all_products %}
  <div class="product">
    <div class="content">
      {{product.manufacturer.manufacturers_name}}
      <div class="manufacturers_name">
        {{manufacturer.manufacturers.name}}
        <span class="manufacturer">{{manufacturer.manufacturers.name}} </span>
      </div>
      <div class="buttons">

        <form action="/products/{{product.id}}/delete" method="post">
          <button class="trash-button">
            <i class="fa fa-trash-o fa-3x" style="color:pink" aria-hidden="true"></i>
          </button>
        </form>

        {% if product.completed == True %}
          <i class="fa fa-check fa-2x" style="color:blue" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        {% endif %}

      </div>
    </div>
  </div>
{% endfor %}






{% endblock %}
